<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Belvis has   what you need!</h2>
                <hr class="light">
                <p class="text-faded">We are driven by the ambition to help organisations and individuals govern their data and gain deep understanding from it. This includes describing what that data actually is and organising it in such a way that provenance can be kept across the data lifecycle. In addition, we assign high importance to data visualisation and visual analytics because they allow for putting information in context so that better decisions can be made.</p>
            </div>
        </div>
    </div>
</section>

