<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BelVis</h1>
            <h2>From Data To Insight</h2>
            <hr>
            <p>
                Data is - together with human capital - the most important asset of a data-driven organisation. Still: do you know which data you have, how it is handled, who is responsible for which data? Is there an overview of the data that you are using at the moment? Do you know if all data that remained after the end of a project were adequately archived or deleted?
            </p>
            <p>
                Even if you <i>are</i> on top of your data game, are you able to fully 
                understand what is in it? This is especially difficult when your data is
                multi-faceted. Are there complex substructures in your data? Do you need 
                to integrate different types of data? Do you need to communicate your
                data-driven message to colleagues or clients?
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">We can help</a>
        </div>
    </div>
</header>
