<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diagram-project wow bounceIn text-primary"></i>
                    <h3>Data Governance planning</h3>
                    <p class="text-muted">
                        We can help you build a complete Data Governance Strategy to make sure that
                        your data is safe, adequately handled and optimally available for analyses.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Database modelling</h3>
                    <p class="text-muted">
                        We can help you model your data into different database systems, be they 
                        relational or NoSQL databases such as document stores or graph
                        databases.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-table-columns wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dashboarding</h3>
                    <p class="text-muted">We can help you create both exploratory data
                        visualisation dashboards, or dashboards used to present data
                        to others.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bezier-curve wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Novel visuals</h3>
                    <p class="text-muted">
                        We can help you design and develop novel visuals for complex
                        data, for example where specific domain knowledge should be
                        included (e.g. in life sciences). For examples of custom 
                        designs, see <a href="https://vda-lab.github.io/portfolio">here</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Teaching</h3>
                    <p class="text-muted">
                        We give workshops and training in each of the topics 
                        mentioned above.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
