<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 text-center">
                <p class="italic">
                    "I can highly recommend this training by Jan Aerts which I was lucky to follow in the past. Good visualisations are not only key to getting your message across as a scientist, but also for getting novel insights yourself by looking at your data from different angles."
                </p>
                <p class="text-muted">
                    Bart Cuypers, Biomedical Data Scientist
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <p class="font-light">
                    "Really recommend this course! Check it out if you want to change the way you think about data visualisation!"
                </p>
                <p class="text-muted">
                    Sander Wuyts, CEO ImmuneWatch
                </p>
            </div>
        </div>

    </div>
</section>
